.personal-info {
  display: table;
  width: 100%;
  min-height: 100vh;
  max-height: 1500px;
  max-height: 93.75rem;
}

.personal-info__inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.personal-info__col-wrapper {
  display: inline-block;
}

.personal-info__col {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.personal-info__card {
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
}

.personal-info__card__contents {
  font-size: 20.8px;
  font-size: 1.3rem;
}

.personal-info__avatar {
  text-align: center;
}

.personal-info__name {
  font-size: 32px;
  font-size: 2rem;
}

.personal-info__skill__img {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 1.25rem;
}

@media only screen and (max-width: 374px) {
  .personal-info__col-wrapper {
    width: 100%;
    margin-bottom: 80px;
    margin-bottom: 5rem;
  }

  .personal-info__col {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: calc(100% - 1.25rem);
  }

  .personal-info__name {
    text-align: center;
  }

  .personal-info__greeting {
    width: 100%;
    text-align: center;
  }

  .personal-info__card {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .personal-info__col-wrapper {
    width: 100%;
    margin-bottom: 80px;
    margin-bottom: 5rem;
  }

  .personal-info__col {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: calc(100% - 3.75rem);
  }

  .personal-info__name {
    text-align: center;
  }

  .personal-info__greeting {
    width: 100%;
    text-align: center;
  }

  .personal-info__card {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .personal-info__col-wrapper {
    width: 100%;
    margin-bottom: 100px;
    margin-bottom: 6.25rem;
  }

  .personal-info__col {
    padding-left: 40px;
    padding-right: 40px;
    width: calc(100% - 80px);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: calc(100% - 5rem);
  }

  .personal-info__name {
    text-align: center;
  }

  .personal-info__greeting {
    width: 100%;
    text-align: center;
  }

  .personal-info__card {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .personal-info__col-wrapper {
    width: 1002px;
    width: 62.625rem;
  }

  .personal-info__col {
    padding-left: 5px;
    padding-right: 5px;
    width: 324px;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
    width: 20.25rem;
  }

  .personal-info__col:nth-child(1) {
    padding-right: 0;
    margin-right: 52px;
    width: 270px;
    margin-right: 3.25rem;
    width: 16.875rem;
  }

  .personal-info__col:nth-child(2),
  .personal-info__col:nth-child(3) {
    padding-top: 10px;
    padding-top: 0.625rem;
  }

  .personal-info__education {
    margin-bottom: 144px;
    margin-bottom: 13rem;
  }
}

@media only screen and (min-width: 1440px) {
  .personal-info__col-wrapper {
    width: 1200px;
    width: 75rem;
  }

  .personal-info__col {
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 22.5rem;
  }

  .personal-info__col:nth-child(1) {
    width: 270px;
    margin-right: 90px;
    width: 16.875rem;
    margin-right: 5.625rem;
  }

  .personal-info__col:nth-child(2),
  .personal-info__col:nth-child(3) {
    padding-top: 30px;
    padding-top: 1.875rem;
  }

  .personal-info__education {
    margin-bottom: 144px;
    margin-bottom: 13rem;
  }
}
