.project-info {
  display: block;
  margin: 0 auto;
}

.project-info__image {
  display: inline-block;
  text-align: center;
}

.project-info__contents {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 374px) {
  .project-info {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }

  .project-info__image {
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }

  .project-info__contents {
    width: 100%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .project-info {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 3.75rem);
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }

  .project-info__image {
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }

  .project-info__contents {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .project-info {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 5rem);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .project-info__image {
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }

  .project-info__contents {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .project-info {
    width: 994px;
    width: 62.125rem;
  }

  .project-info__contents {
    width: 594px;
    width: 37.125rem;
  }
}
