.info-box {
  box-sizing: border-box;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4bcffa;
  margin-top: 12px;
  margin-bottom: 28px;
  text-align: center;
  border-top-width: 0.125rem;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
}

.info-box__label {
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  background-color: #0fbcf9;
  color: #f4f4f4;
  top: -0.875rem;
  padding: 0.313rem 0.625rem;
  border-radius: 0.938rem;
}

.info-box__contents {
  text-align: left;
  margin-bottom: 3px;
  margin-bottom: 0.188rem;
}

.info-box__contents-marker {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #ee2560;
  vertical-align: middle;
  width: 0.313rem;
  height: 0.313rem;
  margin-left: 0.188rem;
  margin-right: 0.188rem;
}

.info-box__contents-val {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 11px);
  max-width: calc(100% - 0.688rem);
}
