.gallery {
  display: inline-block;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: #ee2560;
  border-radius: 20%;
  text-align: center;
  border-width: 0.188rem;
}

.gallery > img {
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 20%;
  padding: 0.313rem;
}

.gallery--large {
  width: 175px;
  height: 175px;
  width: 10.938rem;
  height: 10.938rem;
}

.gallery--large > img {
  max-width: 159px;
  max-height: 159px;
  max-width: 9.938rem;
  max-height: 9.938rem;
}

.gallery--medium {
  width: 125px;
  height: 125px;
  width: 7.813rem;
  height: 7.813rem;
}

.gallery--medium > img {
  max-width: 109px;
  max-height: 109px;
  max-width: 6.813rem;
  max-height: 6.813rem;
}

.gallery--small {
  width: 100px;
  height: 100px;
  width: 6.25rem;
  height: 6.25rem;
}

.gallery--small > img {
  max-width: 85px;
  max-height: 85px;
  max-width: 5.313rem;
  max-height: 5.313rem;
}

@media only screen and (max-width: 374px) {
  .gallery--responsive {
    width: 290px;
    height: 290px;
  }

  .gallery--responsive > img {
    width: 274px;
    height: 274px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .gallery--responsive {
    width: 310px;
    height: 310px;
  }

  .gallery--responsive > img {
    width: 294px;
    height: 294px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery--responsive {
    width: 680px;
    height: 680px;
  }

  .gallery--responsive > img {
    width: 664px;
    height: 664px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .gallery--responsive {
    width: 500px;
    height: 500px;
  }

  .gallery--responsive > img {
    width: 484px;
    height: 484px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery--responsive {
    width: 600px;
    height: 600px;
  }

  .gallery--responsive > img {
    width: 584px;
    height: 584px;
  }
}
