.language-button {
  width: 38px;
  height: 38px;
  font-size: 28px;
  padding: 0;
  background: #f4f4f4;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 2.375rem;
  height: 2.375rem;
  font-size: 1.75rem;
  border-radius: 0.625rem;
}

.language-button:hover {
  background: #4bcffa;
}

.language-button--on {
  box-sizing: border-box;
  border: 1.5px solid #08182b;
  border: 0.094rem solid #08182b;
}

.language-button__flag-image {
  width: 24px;
  height: 16px;
  width: 1.5rem;
  height: 1rem;
}
