.project-info-contents__label {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .project-info-contents {
    padding-left: 15px;
    padding-left: 0.938rem;
  }

  .project-info-contents__label {
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .project-info-contents {
    padding-left: 60px;
    padding-left: 3.75rem;
  }

  .project-info-contents__label {
    text-align: center;
  }
}
